<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>

    <div class="cards_container">
        <a href="#" id="arataHarta" onclick="showMap()"  style="display: none; ">Show games on map</a>
        <a href="#" id="ascundeHarta" onclick="hideMap()">Hide map</a>
        <div id="listmap" class="pp" style="width: 100%; height: 500px;"></div>
    </div>
    <div class="cards_container">
        <% for(let anunt of anunturi) {%>

        <% let icon, title, detailsURL; %>
        <% switch (anunt.sport) {
                case 'fotbal':
                    icon= `<i class="fas fa-futbol card_icon"></i>`
                    title="Football"
                    detailsURL="/anunt/fotbal/"+anunt.id
                  break;
                  case 'tenis':
                    icon='<img src="https://img.icons8.com/ios/50/ffffff/tennis.png" class="card_icon" />'
                    title="Tennis"
                    detailsURL="/anunt/tenis/"+anunt.id
                  break;
                  case 'baschet':
                    icon=`<i class="fas fa-basketball-ball card_icon"></i>`
                    title="Basketball"
                    detailsURL="/anunt/baschet/"+anunt.id
                  break;
              }%>

        <div class="simple_card">
            <div class="row">
                <div class="col-md-2 card_icon_container">
                    <%- icon %>
                </div>
                <div class="col-md-5">
                    <div class="card-body ">
                        <h5 class="card-title"><%= title %> </h5>
                        <%  if( currentUser && !anunt.author.equals(currentUser._id)) {%>
                            <p style="font-size: 12px;" class="pp">Submited by: <b><%= anunt.author.username%></b></p>
                        <% } %>
                        <p class="pp"><%= anunt.oras %></p>
                        <p class="pp"><%= anunt.dificultate %></p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-body mt-4">
                        <%  const split=anunt.dataSiOra.toString().split(' ')
                            const ora=split[4] %>
                        <p class="pp mt-2"><%=ora%></p>
                        <p class="pp mt-2"><%=anunt.dataSiOra.toDateString() %></p>
                        <a class="btn btn-primary card_custom_button" href="<%= detailsURL %>">Details</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
            const anuntString = '<%-JSON.stringify(anunturi)%>'
            const anunturijs = { 'features': JSON.parse(anuntString) }
        </script>
        <script src="/clusterMap.js"></script>

        <%- include('partial/script.ejs') %>
    </div>

</body>

</html>