<div class="card-body darkkkk">
    <h5 class="card-title">Sport: <%= anunt.sport %> </h5>
    <p class="card-text">  
        <h5>Nivel de dificultate: <%= anunt.dificultate %> </h5>
        <h5>Organizator: <%= anunt.organizator %> </h5>
        <h5>Nr de telefon al organzatorului: <%= anunt.telefon %> </h5>

        <h5>Data: <%=anunt.dataSiOra.toDateString() %> </h5>
        <h5>Ora: <%= ora%></h5>
        <h5>Locatie:<%= anunt.oras %> </h5>
    </p>
</div>