<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>
    <form action='/anunturiFotbal' class='form' method="POST">
        <%- include('partial/editBase.ejs', {toAddSport: "fotbal", titlu: "Football", anunt: ""}); %>

        <p class='field half'>
            <label class='label' for='portar'>GOALKEEPER players</label>
            <select class='select' id='portar' name="portar">
                <option value='0' selected>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='fundas'>FULL BACK players</label>
            <select class='select' id='fundas' name="fundas">
                <option value='0' selected>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='mijlocas'>CENTER-BACK players</label>
            <select class='select' id='mijlocas' name="mijlocas">
                <option value='0' selected>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='atacant'>ATTACKER players</label>
            <select class='select' id='atacant' name="atacant">
                <option value='0' selected>0</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
            </select>
        </p>
        <p class='field half'>
            <input class='button' type='submit' value='Send'>
        </p>
    </form>
    <%- include('partial/script.ejs') %>
</body>

</html>