<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>
<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>
    <form action='/anunturiFotbal/<%= anuntFotbalEditat.id %>?_method=PUT' class='form' method="POST">

        <%- include('partial/editBase.ejs', {anunt: anuntFotbalEditat, titlu: "Football", toAddSport: ""}); %>

        <p class='field half'>
            <label class='label' for='portar'>De cati portari ai nevoie?</label>
            <select class='select' id='portar' name="portar">
                <option selected value='0'>Portar</option>
                <option value='1' <%= anuntFotbalEditat.portar=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anuntFotbalEditat.portar=== 2 ? 'selected':'' %>>2</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='fundas'>De cati fundasi ai nevoie?</label>
            <select class='select' id='fundas' name="fundas">
                <option selected value='0'>Fundas</option>
                <option value='1' <%= anuntFotbalEditat.fundas=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anuntFotbalEditat.fundas=== 2 ? 'selected':'' %>>2</option>
                <option value='3' <%= anuntFotbalEditat.fundas=== 3 ? 'selected':'' %>>3</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='mijlocas'>De cati mijlocasi ai nevoie?</label>
            <select class='select' id='mijlocas' name="mijlocas">
                <option selected value='0'>Mijlocas</option>
                <option value='1' <%= anuntFotbalEditat.mijlocas=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anuntFotbalEditat.mijlocas=== 2 ? 'selected':'' %>>2</option>
                <option value='3' <%= anuntFotbalEditat.mijlocas=== 3 ? 'selected':'' %>>3</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='atacant'>De cati atacanti ai nevoie?</label>
            <select class='select' id='atacant' name="atacant">
                <option selected value='0'>Atacant</option>
                <option value='1' <%= anuntFotbalEditat.atacant=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anuntFotbalEditat.atacant=== 2 ? 'selected':'' %>>2</option>
                <option value='3' <%= anuntFotbalEditat.atacant=== 3 ? 'selected':'' %>>3</option>
            </select>
        </p>

        <p class='field half'>
            <input class='button' type='submit' value='Send'>
        </p>
    </form>

    <%- include('partial/script.ejs') %>
</body>

</html>