<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>
    <form action='/anunturiFotbal/<%= anunt.id %>' class='form' method="POST">
        <%- include('partial/editBase.ejs', {anunt: anunt, titlu: "Football", toAddSport: ""}); %>

        <p class='field half'>
            <label class='label' for='portar'>GOALKEEPER players</label>
            <select class='select' id='portar' name="portar">
                <option value='0' <%= anunt.portar=== 0 ? 'selected':'' %>>0</option>
                <option value='1' <%= anunt.portar=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anunt.portar=== 2 ? 'selected':'' %>>2</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='fundas'>FULL BACK players</label>
            <select class='select' id='fundas' name="fundas">
                <option value='0' <%= anunt.fundas=== 0 ? 'selected':'' %>>0</option>
                <option value='1' <%= anunt.fundas=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anunt.fundas=== 2 ? 'selected':'' %>>2</option>
                <option value='3' <%= anunt.fundas=== 3 ? 'selected':'' %>>3</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='mijlocas'>CENTER-BACK players</label>
            <select class='select' id='mijlocas' name="mijlocas">
                <option value='0' <%= anunt.mijlocas=== 0 ? 'selected':'' %>>0</option>
                <option value='1' <%= anunt.mijlocas=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anunt.mijlocas=== 2 ? 'selected':'' %>>2</option>
                <option value='3' <%= anunt.mijlocas=== 3 ? 'selected':'' %>>3</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='atacant'>ATTACKER players</label>
            <select class='select' id='atacant' name="atacant">
                <option value='0' <%= anunt.atacant=== 0 ? 'selected':'' %>>0</option>
                <option value='1' <%= anunt.atacant=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anunt.atacant=== 2 ? 'selected':'' %>>2</option>
                <option value='3' <%= anunt.atacant=== 3 ? 'selected':'' %>>3</option>
            </select>
        </p>
        <p class='field half'>
            <input class='button' type='submit' value='Send'>
        </p>
    </form>
    <%- include('partial/script.ejs') %>
</body>

</html>