<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>
    <form action='/anunturiFotbal' class='form' method="POST">
        <%- include('partial/editBase.ejs', {toAddSport: "fotbal", titlu: "Football", anunt: ""}); %>

        <p class='field half'>
            <label class='label' for='portar'>De cati portari ai nevoie?</label>
            <select class='select' id='portar' name="portar">
                <option selected value='0'>Portar</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='fundas'>De cati fundasi ai nevoie?</label>
            <select class='select' id='fundas' name="fundas">
                <option selected value='0'>Fundas</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='mijlocas'>De cati mijlocasi ai nevoie?</label>
            <select class='select' id='mijlocas' name="mijlocas">
                <option selected value='0'>Mijlocas</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
            </select>
        </p>

        <p class='field half'>
            <label class='label' for='atacant'>De cati atacanti ai nevoie?</label>
            <select class='select' id='atacant' name="atacant">
                <option selected value='0'>Atacant</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
            </select>
        </p>
        <p class='field half'>
            <input class='button' type='submit' value='Send'>
        </p>
    </form>
    <%- include('partial/script.ejs') %>
</body>

</html>