<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>

    <div class="row">
        <div class="col-6 me-5">
            <div class="card mb-3 ">
                <%  if( currentUser && !anunt.author.equals(currentUser._id)) {%>
                    <li class="list-group-item autor">Submited by: <%= anunt.author.username%></li>
                <% } %>
                <%- include('partial/anuntBase.ejs', {anunt: anunt}); %>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item darkkkk">
                        <h5>Team</h5>
                        <br />
                        <h5>Center:<%=anunt.team %> </h5>
                        <h5>Power Forward:<%=anunt.team %> </h5>
                        <h5>Small Forward:<%=anunt.team %> </h5>
                        <h5>Point Guard:<%=anunt.team %> </h5>
                        <h5>Shooting Guard:<%=anunt.team %> </h5>
                    </li>
                </ul>
                <%  if( currentUser && anunt.author.equals(currentUser._id))  {%>
                <div class="card-body darkkkk">
                    <a class="card-link btn btn-info" href="/anunturiBaschet/<%= anunt.id %>/edit ">Modify</a>
                    <form class="d-inline" action="/anunt/baschet/<%= anunt.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% } %>
                <div class="card-footer text-muted darkkkk">
                    <a href="/anunturi/baschet">
                        < Back to list</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div id='map' class="mb-3" style='width: 100%; height: 400px;'></div>

            <%- include('partial/showReviews', {currentUser: currentUser, anunt: anunt}); %>
        </div>
    </div>

    <%- include('partial/initMapDetails', {anunt: anunt}); %>
    <%- include('partial/script.ejs') %>
</body>

</html>