<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>

    <div class="row">
        <div class="col-6 me-5">
            
            <div class="card mb-3 ">
                <%  if( currentUser && !anunt.author.equals(currentUser._id)) {%>
                    <li class="list-group-item autor">Submited by: <%= anunt.author.username%></li>
                <% } %>
                <%- include('partial/anuntBase.ejs', {anunt: anunt}); %>

                <%  if(anunt.team.partner.counter) { %>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item darkkkk">
                            <h5>Team of <%=anunt.team.partner.counter%> player(s)</h5>
                            <p id="players">
                                <% for(let echipa of anunt.team.partner.players) {%>
                                    <h5> <%=echipa.username %> </h5>
                                <% } %>
                            </p>
                            <%  if( currentUser && !anunt.author.equals(currentUser._id)) {%>
                                <%  if(anunt.team.partner.counter > anunt.team.partner.players.length) {%>
                                    <br />
                                    <button onclick="addParticipant('partner', '<%=anunt.id%>')">Join as player</button>
                                <% } else { %>
                                    <p style="color: blueviolet;">The team is completed. Choose another add!</p>
                                <%}

                            } %>
                        </li>
                    </ul>
                <% } else { %>
                    <p style="color: blueviolet;">Something is wrong with this add. Was created with 0 players!</p>
                <%} %>
                <%  if( currentUser && anunt.author.equals(currentUser._id))  {%>
                <div class="card-body darkkkk">
                    <a class="card-link btn btn-info" href="/anunturiTenis/<%= anunt.id %>/edit ">Modify</a>
                    <form class="d-inline" action="/anunt/tenis/<%= anunt.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% } %>
                <div class="card-footer text-muted darkkkk">
                    <a href="/anunturi/tenis">
                        < Back to list</a>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div id='map' class="mb-3" style='width: 100%; height: 400px;'></div>
            <%- include('partial/showReviews', {currentUser: currentUser, anunt: anunt}); %>
        </div>
    </div>

    <script type="text/javascript">
        function addParticipant(pozitie, idAnunt) {
            fetch(`./../../anunt/adauga-membru/${idAnunt}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ pozitie: pozitie, user: "<%=currentUser ? currentUser.id : ''%>" })
            })
                .then(response => response.json())
                .then(result => {
                    window.location.reload()
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>


    <%- include('partial/initMapDetails', {anunt: anunt}); %>
    <%- include('partial/script.ejs') %>
</body>

</html>