<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>

    <div class="row">
        <div class="col-6 me-5">
            <div id='map' class="mb-3" style='width: 100%; height: 400px;'></div>
            <div class="card mb-3 ">
                <%- include('anuntBase.ejs', {anunt: anunt}); %>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item darkkkk">
                        <h5>Posturile dorite:</h5>
                        <br/>
                        <h5>Portar:<%= anunt.portar %> </h5>
                        <h5>Fundas:<%= anunt.fundas %> </h5>
                        <h5>Mijlocas:<%= anunt.mijlocas %> </h5>
                        <h5>Atacant:<%= anunt.atacant %> </h5>
                    </li>
                    <li class="list-group-item autor">Anunt creat de către: <%= anunt.author.username%></li>
                </ul>
                <%  if( currentUser && anunt.author.equals(currentUser._id))  {%>
                <div class="card-body darkkkk">
                    <a class="card-link btn btn-info" href="/anunturiFotbal/<%= anunt.id %>/edit ">Editeaza anuntul</a>
                    <form class="d-inline" action="/anunt/fotbal/<%= anunt.id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Sterge anuntul</button>
                    </form>
                </div>
                <% } %>
                <div class="card-footer text-muted darkkkk">
                    <a href="/anunturi/fotbal">Inapoi la toate anunturile</a>
                </div>
            </div>
        </div>
        <div class="col-5 ">
            <%- include('partial/showReviews', {currentUser: currentUser, anunt: anunt}); %>
        </div>
    </div>

    <%- include('partial/initMapDetails', {anunt: anunt}); %>
    <%- include('partial/script.ejs') %>
</body>

</html>