<!DOCTYPE html>
<html lang="en">
<%- include('partial/head.ejs') %>

<body>
    <%- include('partial/navbar.ejs') %>
    <%- include('partial/flash.ejs')%>
    <form action='/anunturiTenis/<%= anunt.id %>' method="POST" class='form'>
        <%- include('partial/editBase.ejs', {anunt: anunt, titlu: "Tennis", toAddSport: ""}); %>
        
        <p class='field half'>
            <label class='label' for='partener'>Partners</label>
            <select class='select' id='partener' name="partener">
                <option value='0' <%= anunt.partener=== 0 ? 'selected':'' %>>0</option>
                <option value='1' <%= anunt.partener=== 1 ? 'selected':'' %>>1</option>
                <option value='2' <%= anunt.partener=== 2 ? 'selected':'' %>>2</option>
                <option value='2' <%= anunt.partener=== 3 ? 'selected':'' %>>3</option>
            </select>
        </p>
        <p class='field half'>
            <input class='button' type='submit' value='Send'>
        </p>
    </form>
        <%- include('partial/script.ejs') %>
</body>

</html>