<div class="card-body darkkkk">
    <h5 class="card-title">Sport: <%= anunt.sport %> </h5>
    <p class="card-text">  
        <h5>Difficulty: <%= anunt.dificultate %> </h5>
        <h5>Organizer: <%= anunt.organizator %> </h5>
        <h5>Phone Number: <%= anunt.telefon %> </h5>

        <h5>Date: <%=anunt.dataSiOra.toDateString() %> </h5>
        <h5>Time: <%= ora%></h5>
        <h5>Location: <%= anunt.oras %> </h5>
    </p>
</div>